#textContainer {
    text-align: center;
}

 /* #rotText {
     
    animation: rotation 10s infinite linear;
}

@keyframes rotation {
    from {
            -webkit-transform: rotate(0deg);
    }
    to {
            -webkit-transform: rotate(359deg);
    }
}   */