<br>
<div class="border border-dark p-2">
   <div class="border border-primary p-2">
      <div  class="border border-secondary p-2">
         <div  class="border border-success p-2">
            <div  class="border border-danger p-2">
               <div  class="border border-warning p-2">
                  <div  class="border border-info p-2">
                     <div  class="border border-success p-2">
                        <div  class="border border-dark p-2">
                           <div id="textContainer">
                              <!-- <div id="rotText"> Angular Training Assignment !  </div> -->
                              <marquee direction="right"> Angular Training Assignment !  </marquee>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>