
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <ul class="nav nav-tabs">
        <li role="presentation" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
          <a class="nav-link" routerLink="/floatingbanner">Floating Banner</a>
        </li>
        <li role="presentation" routerLinkActive="active"><a class= "nav-link" routerLink="/categorypage">Category Page</a></li>
        <li role="presentation" routerLinkActive="active"><a class="nav-link" routerLink="/countdowntimer">CountDown Timer</a></li>
        <li role="presentation" routerLinkActive="active"><a class= "nav-link" routerLink="/studentmarks">Student Marks</a></li>
        <li role="presentation" routerLinkActive="active"><a class= "nav-link" routerLink="/dynamicdivcreation">Div Creation</a></li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>